body {
  color: white!important;
}

/** Components */
.liqo-box {
  background-color: var(--contentColor)!important;
}

.liqo-toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%!important;
  padding: 2rem!important;
  background-color: var(--contentColor)!important;
}

.liqo-toolbar .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%!important;
  padding-bottom: 2rem;
}

.liqo-toolbar .subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 70%!important;
  padding-bottom: 2rem;
}

.liqo-toolbar .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%!important;
}

.table-ns {
  max-height: 400px!important;
  min-height: 300px!important;
  margin-bottom: 2rem;;
}

.table-nsOff {
  min-height: 300px!important;
  max-height: 400px!important;
}

.liqo-generate-dialog {
  border: 1px solid var(--layoutTabsLineColor)!important;
  padding: 2rem;
  background-color: var(--contentColor)!important;
  opacity: 1!important;
}

.liqo-insert-dialog {
  border: 1px solid var(--layoutTabsLineColor)!important;
  padding: 2rem;
  background-color: var(--contentColor)!important;
  opacity: 1!important;
}

/** Inputs */

.liqo-input {
  font-size: 14pt!important;
  color: var(--textColorPrimary)!important;
}

.liqo-input-code {
  font-family: monospace!important;
  font-size: 12pt!important;
  color: var(--textColorPrimary)!important;
}

.liqo-input-labels {
  font-size: large!important;
  border-color: var(--textColorPrimary)!important;
}
.liqo-output-labels {
  font-size: large!important;
  border-color: var(--textColorPrimary)!important;
  color: #f50057!important;
}

.liqo-output-labels2 {
  font-size: large!important;
  border-color: var(--textColorPrimary)!important;
  color: #ffba44!important;
}
/** Fonts */

.liqo-box-title {
  font-weight: 600!important;
  font-size: larger!important;
  color: white!important;
}

.liqo-primary {
  color: var(--textColorPrimary)!important;
}

/** Buttons */

.peering-button {
  font-weight: "bold";
  background-color: "#f50057";
  width: "150px";
  text-align: "center";
  padding-top: "0.1rem";
  padding-bottom: "0.1rem";
  border-radius: "0.5rem";
}

/* .success {
  color: var(--colorSuccess);
}

.info {
  color: var(--colorInfo);
}

.error {
  color: var(--colorError);
}

.warning {
  color: var(--colorWarning);
}

.contrast {
  color: var(--textColorAccent);
}

.text-secondary {
  color: var(--textColorSecondary);
} */

